<!-- <p>hi, {{data}}</p>
<input type="text" [(ngModel)]= "name">
<p>{{name}}</p>   -->



<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <app-appbas></app-appbas>


            <br/><br/><br/>
            <h3>I am in the AppComponent!!</h3>
            <hr>            
            <!-- <app-servers></app-servers>  make this an attribute  -->
            <!-- <div app-servers></div> attribute -->
            <!-- <div class="app-servers"></div>  -->
            <app-servers></app-servers>
           

        </div>
    </div>
</div>